/*************************************
内容：
- 整体布局
- 导航栏
- 头图（课程简介）
- 首页内容
- 模态框
- 教师信息页
- 资源信息页
- 留言交流页
- 网页尾部
- 其他媒体屏幕大小设置
**************************************/

/*************************************
常用色:
- blue1 #00102A
- blue2 #021F59
- blue3 #002E77
- blue4 #0178D6
- blue5 #F4F5FF
- black #222222
- gray1 #5E6576
- gray2 #dedede
- gray3 #f5f5f5
- gray4 #F9F9F9
- gray5 #fafafa
- white #FFFFFF
**************************************/


/**************************/
/*         整体布局        */
/*************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #5E6576;
	font: 300 1rem/1.625rem "Open Sans", sans-serif;
	background: #f9f9f9;
}

h1 {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #222222;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}
/*h3&h4*/
h3 {
	color: #222222;
	font-weight: 700;
	font-size: 1.1rem;
	line-height: 1.4rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #222222;
	font-weight: 500;
	font-size: 0.9rem;
	line-height: 1.2rem;
	letter-spacing: -0.2px;
}
/*h5&h6*/
h5 {
	color: #222222;
	font-weight: 500;
	font-size: 1.05rem;
	line-height: 1.625rem;
}

h6 {
	color: #222222;
	font-weight: 300;
	font-size: 0.85rem;
	line-height: 1.375rem;
}

/*段落*/
.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

/*胶囊型小标题*/
.section-title {
	display: inline-block;
	margin-bottom: 0.75rem;
	padding: 0.15rem 1.75rem;
	border-radius: 20px;
	background-color: #F4F5FF;
	color: #021F59;
	font-weight: 600;
	font-size: 0.975rem;
}

/*按钮*/
.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem;
	border-radius: 30px;
	background-color: #002E77;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: #FFFFFF;
	color: #00102A;
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 0.7rem 1.5rem;
	border: 1px solid #002E77;
	border-radius: 30px;
	background-color: #002E77;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #00102A;
	text-decoration: none;
}


/**********************/
/*       导航栏        */
/**********************/
.navbar {
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 133px;
	height: 30px;
}

.navbar .logo-text {
	color: #222222;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 46px;
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item{
	text-align: center;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.5rem;
	color: #5E6576;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active{
	color: #021F59;
}

.navbar .nav-item .underline {
	width: 3.875rem;
	margin: 0 auto 0.125rem auto;
	height: 2px;
	background-color: #021F59;
	transform: scaleX(0);
	transition: all 0.3s ease;
}

.navbar .nav-item:hover .underline {
	transform: scaleX(1);
}

.navbar .nav-item .underline-current {
	width: 3.875rem;
	margin: 0 auto 0.125rem auto;
	height: 2px;
	background-color: #021F59;
	transform: scaleX(1);
	transition: all 0.3s ease;
}

.navbar .nav-item .btn-solid-sm{
	margin: 0.5rem 0;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

/************************/
/*     头图（课程简介）    */
/************************/
.header {
	padding-top: 8rem;
	padding-bottom: 2rem;
	text-align: center;
	background-image: url(../picture/首页4.jpg);
	background-size:cover;
}

.header .text-container {
	margin-bottom: 5rem;
}

.header .h1-large {
	margin-bottom: 1.25rem;
}

.header .p-large {
	margin-bottom: 1.75rem;
	color:#F9F9F9;
	background: transparent;
}

.header .btn-solid-lg {
	display: block;
	margin-bottom: 1.75rem;
}

/************************/
/*       首页内容        */
/************************/
.content .container{
	margin-top: -1.5rem;
}
.large-info{
	margin-bottom: 24px;
}

/* 信息栏 */
.info{
	height: 100%;
	padding: 1rem;
	border-radius: 0.3rem;
	box-shadow: 2px 1px 20px 1px rgba(0, 0, 0, 0.12);
	background: linear-gradient(325deg, #fdfdfd, #ffffff);
}

/* 信息栏小标题 */
.part-title{
	font-size: 1.25rem;
	font-weight: 700;
	color: #222222;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-bottom: 2px solid  #021F59;
	text-align: left;
}

/* 信息栏小标题-查看更多 */
.part-title a{
	float:right;
	color: #5E6576;
	font-size: 0.95rem;
	font-weight: 500;
	text-decoration: none;
}

/*教师信息*/
.teacherInfoMini{
	margin:0.5rem 0;
	padding:8px 16px;
	background: #f5f5f5;
	border-left: solid 0.7rem;
	border-image: linear-gradient(to top, #00102A, #021F59) 0 30;
}

.teacherInfoMini .photo{
	display: inline-block;
	float:right;
	margin:auto 0;
}

.teacherInfoMini img{
	width: 60px;
	border-radius: 50%;
}

.teacherInfoMini .teacherName{
	width:70%;
	display: inline-block;
}

/*资源信息*/
.resourceInfoMini-title{
	margin:0.5rem 0;
	padding:6px 12px;
	background: #f5f5f5;
	border-left: solid 0.7rem;
	border-image: linear-gradient(to top, #00102A, #021F59) 0 30;
}

.resourceInfoMini-title h3{
	margin:0;
}

.resourceInfoMini{
	padding:6px 12px;
	#background: #f9f9f9;
	#border-left: solid 0.7rem;
	#border-image: linear-gradient(to top, #00102A, #021F59) 0 30;
}

.resourceInfoMini:hover{
	background: #fafafa;
	border-radius: 0.2rem;
	cursor:pointer;
}

.resourceInfoMini h4{
	margin:0;
}

.resourceInfoMini:hover h4{
	color: #002E77;
}

/*留言交流*/
.contact {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.contactInfoMini{
	position: relative;
	margin-bottom: 1.8rem;
	background: #f5f5f5;
}

/*留言信息*/
.contactInfoMini input,
.contactInfoMini select{
	width: 100%;
	height: 2.5rem;
	padding: 0 1rem;
	border: none;
	font-size: 0.9rem;
	border-bottom: 2px solid #dedede;
	background: transparent;
}

.contactInfoMini input:focus-visible{
	outline: none;
}

.contactInfoMini input:focus ~ label,
.contactInfoMini input:valid ~ label,
.contactInfoMini select:focus ~ label,
.contactInfoMini select:valid ~ label{
	transform : translateY(-2rem);
	font-size: 0.85rem;
	color: #021F59;
	font-weight: 600;
}

.contactInfoMini label{
	position:absolute;
	bottom:0.45rem;
	left: 1rem;
	font-size: 0.9rem;
	color: #5E6576;
	pointer-events: none;
	transition: all 0.3s ease;
}

.contactInfoMini .underline{
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
	background-color: #021F59;
	transform: scaleX(0);
	transition: all 0.3s ease;
}

.contactInfoMini i{
	position:absolute;
	bottom:0.7rem;
	right: 1rem;
	font-size: 1rem;
	color: #dedede;
	pointer-events: none;
	transition: all 0.3s ease;
}

.contactInfoMini select:focus ~ i,
.contactInfoMini select:valid ~ i{
 	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	    /* Opera */
}

.contactInfoMini input:focus ~ .underline,
.contactInfoMini input:valid ~ .underline,
.contactInfoMini select:focus ~ .underline,
.contactInfoMini select:valid ~ .underline{
	transform: scaleX(1);
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	outline: none;
}

/*留言内容*/
.contactInfoMini textarea{
	width: 100%;
	height: 10rem;
	padding: 0.7rem 0.7rem;
	font-size: 0.9rem;
	color: #5E6576;
	border: none;
	border-radius: 0;
	border-left: solid 0.7rem;
	border-image: linear-gradient(to top, #00102A, #021F59) 0 30;
	background: transparent;
}

.contactInfoMini textarea:focus-visible{
	outline:none;
}

/*提交按钮*/
.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #021F59;
	border-radius: 30px;
	background-color: #021F59;
	color: #ffffff;
	font-weight: 600;
	font-size: 1rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.3s;
}

.form-control-submit-button:hover {
	border: 1px solid #021F59;
	background-color: transparent;
	color: #021F59;
}

/************************/
/*        模态框         */
/************************/
.modal-dialog {
	max-width: 1150px;
	margin-right: 1rem;
	margin-left: 1rem;
	pointer-events: all;
}

.modal-content {
	padding: 3rem 2rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	border-radius:0.5rem;
	width:90%;
}

.modal-content .btn-close {
	position: absolute;
	right: 0.8rem;
	top: 0.8rem;
}

.modal-content .image-container {
	margin-bottom: 2.75rem;
}

.modal-content h3 {
	margin-bottom: 0.5rem;
}

.modal-content hr {
	width: 80px;
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	margin-left: 0;
	height: 2px;
	border: none;
	background-color: #5E6576;
}

.modal-content h4 {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

.modal-content .resourceMini{
	padding: 0.05rem 0.3rem 0.05rem 0.2rem;
}

.modal-content .resourceMini a{
	color:#222222;
	text-decoration: none;
	font-size: 0.9rem;
	font-weight: 550;
}

.modal-content .resourceMini:hover{
	background: #f5f5f5;
	border-right: solid 0.3rem;
	border-image: linear-gradient(to top, #00102A, #021F59) 0 30;
}

.modal-content .resourceMini:hover a{
	color:#002E77;
}

.modal-content .btn-solid-sm{
	margin-top: 1rem;
}

/************************/
/*       教师信息页       */
/************************/
.teacherDetails{
	padding-top: 3.625rem;
	padding-bottom: 4.625rem;
}

.teacherDetail{
	margin: 1.5rem 0;
	padding: 2rem;
	border-left: solid 0.7rem;
	border-image: linear-gradient(to top, #00102A, #021F59) 0 30;
	background: linear-gradient(325deg, #fdfdfd, #ffffff);
	box-shadow: 0.5rem 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.03);
}

.teacherDetail h3 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.teacherDetail hr {
	width: 80px;
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	margin-left: 0;
	height: 2px;
	border: none;
	background-color: #5E6576;
}

.teacherDetail h4 {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	font-size: 0.95rem;
}

.teacherDetail p {
	font-size: 0.9rem;
	text-indent: 2em;
	background: transparent;
	margin-bottom: 1.875rem;
}

/********************/
/*     教学资源页     */
/********************/
.resourceDetail {
	padding-top: 3.625rem;
	padding-bottom: 4.625rem;
	text-align: center;
}

.resourceDetail .button-group {
	margin: 1rem;
	text-align: left;
	color: #222222;
	font-weight: 600;
	font-size: 0.9rem;
}

.resourceDetail .button {
	margin-bottom: 0.75rem;
	border: none;
	background-color: transparent;
	font-weight: 400;
}

.resourceDetail .button:hover,
.resourceDetail .button.is-checked {
	color: #002E77;
	font-weight: 600;
}

.resourceDetail .grid {
	margin-right: auto;
	max-width: 351px;
	margin-left: auto;
}

.resourceDetail .element-item {
	margin-bottom: 3rem;
	transition: all 0.3s ease;
}

.resourceDetail .element-item:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.resourceDetail .element-item img {
	margin-bottom: 0.875rem;
	border-radius: 0.5rem;
}

.resourceDetail .element-item h3 {
	margin-bottom: 0.2rem;
	font-size: 1rem;
}

.resourceDetail .element-item hr {
	width: 100%;
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	margin-left: 0;
	height: 1px;
	border: none;
	background-image: linear-gradient(to right, #f9f9f9, #5E6576, #f9f9f9);
	background-color: #5E6576;
}

.resourceDetail .element-item h4 {
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

/************************/
/*       留言交流页       */
/************************/
.messageDetail{
	padding-top: 3.625rem;
	padding-bottom: 4.625rem;
}

.messageDetail .info{
	border-radius: 0;
	box-shadow: 0.5rem 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.03);
}

.messageDetail .messageInfoMini{
	background: #F5F5F5;
	padding: 1rem;
	margin-bottom: 0.75rem;
}

.messageDetail .time{
	margin: 0 0.5rem;
	color: #5E6576
}

.messageDetail .questionType{
	margin: 0.25rem 0;
	padding: 0 0.5rem;
	font-size: 0.75rem;
	color: #FFFFFF;
	line-height: 1rem;
	border-radius: 1rem;
	background: #021F59;
}

.messageDetail .question{
	padding-top: 0.5rem ;
	border-top: 1px solid #dedede;
	line-height: 1.25rem;
}


/************************/
/*       网页尾部        */
/***********************/
.footer {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 2.5rem;
	margin-top:2.5rem;
	text-align: center;
}

.footer .row {
	justify-content: center;
}

/*暂时留着*/
.footer .decoration {
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer div[class*="col"] {
	position: relative;
}

.footer h5{
	color: #F9F9F9;
	padding-top:0.8rem;
}

.footer a{
	text-decoration: none;
	color: #bdbdbd;
}


/************************/
/*       回到头图        */
/***********************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #021F59;
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #002E77;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}

/*************************/
/*     其他媒体屏幕大小     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	.header {
		padding-top: 9rem;
	}

	.header .h1-large {
		font-size: 2.75rem;
		line-height: 3.5rem;
	}

}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}

	.navbar {
		padding-top: 1.75rem;
		background-color: #ffffff;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}

	.header {
		padding-top: 8.25rem;
		text-align: left;
	}

	.header .text-container {
		margin-bottom: 0;
	}

	.header .btn-solid-lg {
		margin-right: 1.5rem;
		margin-bottom: 0;
	}

	.header .btn-solid-lg,
	.header .quote {
		display: inline-block;
	}

	/* 模态框 */
	body.modal-open {
		overflow-y: scroll !important;
		padding-right: 0 !important;
	}

	body.modal-open .navbar {
		padding-right: 0 !important;
	}
	/* end of stops body and navbar shift on modal open */

	.modal {
		padding-right: 0 !important;
	}

	.modal-dialog {
		margin-top: 120px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.modal-content .image-container {
		margin-bottom: 0;
	}

	.resourceDetail .button {
		margin-right: 0.25rem;
		margin-left: 0.25rem;
	}
	
	.resourceDetail .grid {
		max-width: 750px;
	}

	.resourceDetail .element-item {
		display: inline-block;
		width: 351px;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
		vertical-align: top;
	}

	.footer h4 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	.container {
		max-width: 1140px;
	}

	.header {
		overflow: hidden;
		padding-top: 8.25rem;
		padding-bottom: 2rem;
	}

	.header .image-container {
		position: relative;
	}
	
	.header .image-container img {
		position: absolute;
		top: -80px;
		left: 10px;
		width: 840px;
		max-width: none;
	}

	.teacher-img{
		text-align: center;
	}

	.modal-content {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.resourceDetail .grid {
		max-width: 1120px;
	}
}
/* end of min-width 1200px */